<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
    >
    <testsuites>
        <testsuite name="Webforge Utils">
            <directory suffix="Test.php">tests/php/Webforge</directory>
        </testsuite>
    </testsuites>
</phpunit>